.filtr-item {
    padding: 1rem;
    cursor: pointer;
}

.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: capitalize;
    text-align: left;
    padding: 1%;
    z-index: 1;
    bottom: 10%;
    left: 6%;
    right: 6%;
    transform: scale(0);
}
.filtr-item:hover .item-desc {
    transform: scale(1);
    transition: all 0.6s;
}
/* Filter controls */
.simplefilter{
    font-family: 'Bitter', serif;
    font-weight: normal;
}

.simplefilter li, .multifilter li, .sortandshuffle li {
    color: #252525;
    cursor: pointer;
    display: inline-block;
    text-transform: capitalize;
    padding: 0.7% 1.1% 0.6% 1.1%;
    margin-right: 0.66%;
}
.simplefilter li {
    background-color: transparent;
}
.simplefilter li.active {
    background-color: #ea5a4b;
    color: #fff;
}
.multifilter li {
    background-color: #4b9eff;
}
.multifilter li.active {
    background-color: #2265b4;
}

/* Shuffle and sort controls */
select {
    padding: 1rem 1rem;
    text-transform: uppercase;
}
.sortandshuffle .shuffle-btn {
    background-color: #dec800;
}
.sortandshuffle .sort-btn {
    background-color: #de0000;
}
.sortandshuffle .sort-btn.active {
    background-color: #9d0000;
}

/* Search control */
.search-row {
    margin-left: 2.5rem;
}
.filtr-search {
    padding: 0.5rem;
    text-transform: uppercase;
}
@media screen and (min-width: 360px){
    .item-desc {
        padding: 2%;
        bottom: 10%;
        left: 5.5%;
        right: 5.5%;
    }
}
@media screen and (min-width: 425px) {
    .item-desc {
        bottom: 8%;
        left: 4.5%;
        right: 4.5%;
    }
}
@media screen and (min-width: 480px){
    .item-desc {
        padding: 3%;
        bottom: 8%;
        left: 4.5%;
        right: 10%;
    }
}
@media screen and (min-width: 640px) {
    .item-desc {
        bottom: 8%;
        left: 3%;
        right: 32.5%;
    }
}
@media screen and (min-width: 768px) {
    .item-desc {
        bottom: 8%;
        left: 3.5%;
        right: 13.1%;
        font-size: 125%;
    }
}
@media screen and (min-width: 1024px) {
    .item-desc {
        bottom: 8%;
        left: 4.5%;
        right: 11.1%;
    }
}
@media screen and (min-width: 1180px) {
    .item-desc {
        bottom: 8%;
        left: 4.5%;
        right: 10.8%;
    }
}
@media screen and (min-width: 1357px) {
    .item-desc {
        left: 4.5%;
        right: 4.8%;
    }
}