
.container {
    width: 100%;
    min-width: 320px;
    max-width: 1180px;
    margin: 0 auto;
}
.slider {
    width: 100%;
    height: auto;
    max-height: 450px;
}
.sl_slide {
    position: relative;
}

.sl_img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.sl_description {
    position: absolute;
    width: 43%;
    top: 27%;
    left: 7%;
    font-size: 11px;
    font-weight: bold;
}

.sl_title {
    padding: 0.65%;
    display: inline-block;
    margin: 1px 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
}

.preview {
    margin: -10px 0;
    box-sizing: border-box;
    overflow: hidden;
}
.sl2 {
    margin: 0 4px;
    background: url(../images/prew_bgpatt.png) 0 0 repeat;
}

.pd {
    padding: 10px 5px;
}
@media screen and (min-width: 360px) {
    /************ВЕРХНЕЕ МЕНЮ НАД HEADER БЛОК с СОЦ. Сетями!************/
    .wall-icon {
        background: url("../images/prew_bgpatt.png") 100% repeat;
        padding: 25px 0;
    }

    .block-icon {
        float: right;
    }
    .header-soc {
        width: 25px;
        height: 20px;
        top: 1px;
        right: 1px;
        display: inline-block;
        background: url("../images/soc-icon.png") -2px 1px no-repeat;
    }
    .fb {
        background: url("../images/soc-icon.png") -28px 1px no-repeat;
    }
    .dribble {
        background: url("../images/soc-icon.png") -53px 1px no-repeat;
    }
    .rss {
        background: url("../images/soc-icon.png") -74px 1px no-repeat;
    }

    /************ВЕРХНЕЕ МЕНЮ НАД HEADER БЛОК с СОЦ. Сетями!************/
    /**********************EENNNDD!!!!!!!!******************************/
    /******************MAIN HEADER******************/
    .header {
        padding: 28px 0;
        background: url("../images/header-main-pattern.png") 100% repeat;
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.7);
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.7);
    }
    .logo {
        display: block;
        float: left;
        width: 100%;
        padding: 18px 0;
        margin-left: 3%;
        max-width: 120px;
        background: url("../images/logo.png") center center no-repeat;
    }
    .menu-wrapper {
        position: relative;
        float: right;
        width: 50%;
        text-align: right;
    }
    .menu-hamburger {
        font-size: 2em;
        display: inline-block;
        padding: calc(10% - .5em);
        text-decoration: none;
        color: #ea5a4b;
    }
    .menu {
        position: absolute;
        top: 100%;
        right: 0;
        display: none;
        min-width: 12em;
        text-align: center;
        background: rgba(255, 255, 255, .8);
    }
    .menu a {
        font-size: 0.75em;
        font-weight: bold;
        line-height: 1.33333em;
        display: block;
        margin: 0 2% 5% 2%;
        padding: 3% 0;
        text-decoration: none;
        text-transform: uppercase;
        color: #252525;
    }
    .menu a:hover {
        color: #ea5a4b;
    }
    .menu-wrapper:hover .menu {
        display: block;
    }
    /**************** ENDDD!!!!!MAIN HEADER************************/

    .sl_description {
        left: 6%;
    }
}
@media screen and (min-width: 480px) {
    .sl_description {
        width: 40%;
        top: 19%;
        left: 4%;
        font-size: 12px;
    }
    .sl_title {
        padding: 0.65%;
    }
}
@media screen and (min-width: 481px) and (max-width: 640px) {
    .sl_description {
        width: 30%;
    }

}
@media screen and (min-width: 640px) {
    .sl_description {
        width: 30%;
        left: 3%;
        font-size: 14px;
    }
}


@media screen and (min-width: 1024px) {
    .container {
    }
    .sl_description {
        width: 43%;
    }
}

@media screen and (min-width: 1180px) {
    /**************HEADER*************************/
    .menu-wrapper {
        display: block;
    }
    .menu-wrapper:hover .menu {
        display: inline-block;
    }
    .menu {
        position: static;
        display: inline-block;
        min-width: 16em;
        text-align: center;
        background: rgba(255, 255, 255, .8);
    }
    .menu-hamburger {
        display: none;
    }
    .menu a {
        font-size: 0.75em;
        font-weight: bold;
        line-height: 1.33333em;
        display: inline-block;
        margin: 0 2% 2% 2%;
        padding: 3% 0;
        text-decoration: none;
        text-transform: uppercase;
        color: #252525;
    }
    .sl_description {
        width: 43%;
    }
}