
.container {
    width: 100%;
    min-width: 320px;
    max-width: 1180px;
    margin: 0 auto;
}
.promo {

}
.sl_slide {
    position: relative;
}

.sl_img {
    width: 100%;
    height: auto;
}

.sl_description {
    position: absolute;
    width: 43%;
    top: 27%;
    left: 7%;
    font-size: 11px;
    font-weight: bold;
}

.sl_title {
    padding: 0.65%;
    display: inline-block;
    margin: 1px 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
}
.preview {
    margin: 0 5px;
    box-sizing: border-box;
    overflow: hidden;
}
@media screen and (min-width: 600px) {

}

@media screen and (min-width: 1024px) {
    .container {
    }
}

@media screen and (min-width: 1180px) {

}